---

ddddd

---

Tem também esses dados aqui!

mananciais.sabesp.com.br/api/Mananciais/ResumoTelemetricos/2020-04-01

SYSTEM
http://ssd3sabesp.labsid.eng.br/login.aspx

# Imports

Inicialmente importa-se as bibliotecas que serão necessárias para rodar os códigos abaixo.

In [3]:
import os
import json
import urllib.request
import pandas as pd
import datetime
import calendar
import time

E é criada a estrutura de pastas que serão utilizadas para armazenar os arquivos que serão criados ao longo do processo. Em específico, a pasta *data* é a que armazenará a tabela com as informações.

In [4]:
%run '../codes/files/create_folders.py'
create_folders('', ['data'])

Directory "data" already exists...

# Série Histórica e Datas

A função abaixo retorna três parâmetros:
1. Tabela com uma série histórica, com uma data de início e uma data de término.
2. Data inicial em formato texto, para ser usada no nome do arquivo que vamos criar.
3. Data final em formato texto, para ser usada no nome do arquivo que vamos criar.

Caso não seja definida uma data final, será usado o dia de hoje.
Importante ter atenção a isso pois a SABESP disponibiliza atualizações dos dados as 9:00 (conforme site deles) e, caso o presente código seja rodado entre a meia noite e as 9:00, tentar-se-á obter informações não disponíveis, possivelmnete gerando erros. Para contornar isso, é possível inserir um parâmetro como *dia de hoje - 1*, por exemplo.

In [5]:
def get_data_tab(start='1970-1-1', end=None):
    """
    Function to create date table, with only on colum named 'Data' as index.
    With no 'end' parameter is passed, the function will return a table until today
    With no 'start' parameter is passed, the function will return a table staring in firts day of de 70's.
    
    The function return two more parameters to used in filenames:
    filename_start > first day of table 
    filename_end   > last day of table as string
    
    """
    
    # Dataframe to get dates
    if end is None:
        df = pd.DataFrame(pd.date_range(pd.to_datetime(start), end=datetime.date.today()), columns=['Data'])
        filename_start = str(datetime.datetime.strptime(str(start), '%Y-%m-%d').strftime('%Y.%m.%d'))
        filename_end   = str(datetime.datetime.strptime(str(datetime.date.today()), '%Y-%m-%d').strftime('%Y.%m.%d'))
    
    else:
        df = pd.DataFrame(pd.date_range(pd.to_datetime(start), end=pd.to_datetime(end)), columns=['Data'])
        filename_start = str(datetime.datetime.strptime(str(start), '%Y-%m-%d').strftime('%Y.%m.%d'))
        filename_end   = str(datetime.datetime.strptime(str(end), '%Y-%m-%d').strftime('%Y.%m.%d'))

    # Results
    df = df.set_index('Data')
    return df, filename_start, filename_end

In [6]:
start = '2015-11-01'
end = '2015-12-31'

df_day, filename_start, filename_end = get_data_tab(start, end)

In [7]:
print(filename_start)
print(filename_end)

2015.11.01
2015.12.31

In [8]:
df_day

Empty DataFrame
Columns: []
Index: [2015-11-01 00:00:00, 2015-11-02 00:00:00, 2015-11-03 00:00:00, 2015-11-04 00:00:00, 2015-11-05 00:00:00, 2015-11-06 00:00:00, 2015-11-07 00:00:00, 2015-11-08 00:00:00, 2015-11-09 00:00:00, 2015-11-10 00:00:00, 2015-11-11 00:00:00, 2015-11-12 00:00:00, 2015-11-13 00:00:00, 2015-11-14 00:00:00, 2015-11-15 00:00:00, 2015-11-16 00:00:00, 2015-11-17 00:00:00, 2015-11-18 00:00:00, 2015-11-19 00:00:00, 2015-11-20 00:00:00, 2015-11-21 00:00:00, 2015-11-22 00:00:00, 2015-11-23 00:00:00, 2015-11-24 00:00:00, 2015-11-25 00:00:00, 2015-11-26 00:00:00, 2015-11-27 00:00:00, 2015-11-28 00:00:00, 2015-11-29 00:00:00, 2015-11-30 00:00:00, 2015-12-01 00:00:00, 2015-12-02 00:00:00, 2015-12-03 00:00:00, 2015-12-04 00:00:00, 2015-12-05 00:00:00, 2015-12-06 00:00:00, 2015-12-07 00:00:00, 2015-12-08 00:00:00, 2015-12-09 00:00:00, 2015-12-10 00:00:00, 2015-12-11 00:00:00, 2015-12-12 00:00:00, 2015-12-13 00:00:00, 2015-12-14 00:00:00, 2015-12-15 00:00:00, 2015-12-16 00:00:00, 2015-12-17 00:00:00, 2015-12-18 00:00:00, 2015-12-19 00:00:00, 2015-12-20 00:00:00, 2015-12-21 00:00:00, 2015-12-22 00:00:00, 2015-12-23 00:00:00, 2015-12-24 00:00:00, 2015-12-25 00:00:00, 2015-12-26 00:00:00, 2015-12-27 00:00:00, 2015-12-28 00:00:00, 2015-12-29 00:00:00, 2015-12-30 00:00:00, 2015-12-31 00:00:00]

[61 rows x 0 columns]

# *Link* para fazer o *download* do Json

Inicialmente foram feitas tentativas diversas para melhor conhecimento do [*site* da SABESP](http://mananciais.sabesp.com.br/HistoricoSistemas?SistemaId=0) que disponibiliza as informações dos mananciais. Inicialmente tentou-se obter os dados pela técnica de *web scrapping*, até que descobriu-se que os dados são distribuídos por meio de uma API do SSD (Sistema de Suporte a Decisões).

Observou-se que a consulta manual apresenta os dados do mês da presente data até o primeiro dia do mês anterior. Por exemplo, se estamos no dia 25.**03**.2020, os dados apresentados serão dessa data até o dia 01.**02**.2020, retornando aproximadamente dados de 55 dias (30 dias de um mês hipotético e 25 do outro). O mesmo padrão irá ocorrer caso a consulta seja feita em 01.**03**.2020, a qual retornar-a os dados *até o primeiro dia do mês anterior*, ou seja, 01.**02**.2020.

Essa forma de "entregar" os dados foi considerada na requisição de dados pela API, a qual foi feita com uso do [urllib.request](https://stackoverflow.com/questions/32795460/loading-json-object-in-python-using-urllib-request-and-json-modules). A API tem seu *link* padrão apresentado abaixo, sendo inserido apenas duas variáveis: a data e o Sistema (aqui representado pelo 0 no final, que representa o Sistema Produtor Cantareira).

- http://mananciais.sabesp.com.br/api/Mananciais/RepresasSistemasNivel/2020-03-25/0

*ToDo*: O Presente código tem a finalidade de obter os dados unicamente do Sistema Cantareira e, portanto, não se pensou em adicionar a possibilidade de obter os dados dos outros sistemas produtores, por meio da inclusão e ajuste desse parâmetro definido e fixado como *0*.

In [9]:
site = ('http://mananciais.sabesp.com.br/api/Mananciais/RepresasSistemasNivel/' + 
        str(filename_start.replace('.','-')) + '/' +
        str(filename_end.replace('.','-')) + '/0')

site

'http://mananciais.sabesp.com.br/api/Mananciais/RepresasSistemasNivel/2015-11-01/2015-12-31/0'

Com o *link* da API com uma data definida, criou-se uma função para obter os dados em formato *json*, bastanto inserir o site.

In [10]:
def get_json(url):
    # Get Array with data
    webURL = urllib.request.urlopen(site)
    my_bytes = webURL.read()

    # Transform Array into JSON
    my_json = my_bytes.decode('utf8')
    data = json.loads(my_json)
    return json.dumps(data, indent=2, sort_keys=True)

In [11]:
jsn = get_json(site)
#print(jsn)

# Convertendo Json para tabela e extraíndo dados

Com o arquivo Json contendo todos os dados de mais de um mês atrás, segmentado em diversas chaves e subchaves, iniciou-se a segmentação do arquivo, convertendo o arquivo para uma tabela, com a qual tenho mais familiaridade para editar e filtrar.

A função abaixo tem essa aplicação e já aproveita para excluir duas colunas que, aparentemente, não agregam informações.

In [20]:
def json2table(jsn):
    # Create dataframe
    df = pd.read_json(jsn)

    # Delete columns
    return df.drop(['FlagHasError', 'Message'], axis=1)

In [21]:
df_json = json2table(jsn)
df_json

                                                            ReturnObj
DataFinal                                                  31/12/2015
DataInicial                                                01/11/2015
ListaDados          [{'Dados': [{'Chuva': 1.6, 'ComponenteId': 1, ...
ListaDadosEspecial                                                 []
ListaDadosLocais    [{'Dados': [{'Abreviatura': 'F-25bT', 'Compone...
ListaDadosSistema   [{'Data': '2015-11-01T00:00:00', 'Precipitacao...
ListaEspecial       [{'Altitude': None, 'AreaDrenagem': None, 'Cod...
ListaLocais         [{'Abreviatura': 'F-25bT', 'ComponenteId': Non...
ListaManobras                                                      []
ListaRepresas       [{'ComponenteId': 1, 'Nome': 'Represa Jaguari/...
SistemaId                                                           0

## Sistema Produtor

Por meio do campo *SistemaId* é possível obter o código que define qual é o sistema produtor de água. Contudo, considerando que o presente *script* visa obter somente os dados do Sistema Cantareira, **tal função não será aplicada**.

In [11]:
df_json.loc['SistemaId']['ReturnObj']

0

## Data Final

Identifica data empregada na API, a partir da qual se obterá os dados *até o primeiro dia do mês anterior*. Não se vislumbra muita utilidade para essa informação nesse momento, tendo em vista que foi o usuário que definiu esse parâmetro na definição do *link* de acesso à API. Logo, **tal função não será aplicada**.

Cabe ressaltar que tal função é chamada em outras funções, para se obter a data do último registro da tabela, qu poderá, ou não, ser excluído.

In [22]:
def get_enddate(df):
    # JSON to dataframe    
    data = df_json.loc['DataFinal']['ReturnObj']   
    
    # Results
    return pd.to_datetime(data, dayfirst=True).strftime('%Y-%m-%d')

In [23]:
data = get_enddate(df_json)
data

'2015-12-31'

## Data Inicial

In [24]:
def get_startdate(df):
    # JSON to dataframe    
    data = df_json.loc['DataInicial']['ReturnObj']   
    
    # Results
    return pd.to_datetime(data, dayfirst=True).strftime('%Y-%m-%d')

In [25]:
data = get_startdate(df_json)
data

'2015-11-01'

## Manobras Operacionais

Identifica todas as manobras listadas no site da SABESP. São dados mais descritivos, disponibilizados visando dar mais transparência a cadeia de comando para abrir ou fechar os reservatórios. Nesse primeiro momento tais dados não serão analisado e, portanto, **tal função não será aplicada**.

In [26]:
def get_manobras(df):
    # JSON to dataframe    
    lst = df.loc['ListaManobras']['ReturnObj']
    
    # Results
    return pd.json_normalize(lst)

In [27]:
#df_manobras = get_manobras(df_json)
#df_manobras

## Componentes do Sistema

### Reservatórios

A função abaixo lista os reservatórios (ou represas) do Sistema Cantareira e outras que estão integradas, de alguma maneira, ao Sistema, inserindo também o identificador de cada reservatório (*ComponenteId*).

Apesar de trata-se de uma tabela que não retorna dados temporais (por exemplo: vazão, volume e chuva), ou seja, que variam ao longo do tempo, é fundamental para rotular de qual reservatório que são os dados temporais que serão obtidos nas próximas funções, visto que eles se valem, majoritariamente, do campo *ComponenteId*.

In [18]:
#lst = df_json.loc['ListaRepresas']['ReturnObj']
#df = pd.json_normalize(lst)
#df

In [31]:
def list_represas(df_json):
    # JSON to dataframe
    lst = df_json.loc['ListaRepresas']['ReturnObj']
    df = pd.json_normalize(lst)

    # Delete columns
    df = df.drop(['temChuva','temNivel', 'temQjus', 'temQnat', 'temVolume'], axis=1)

    # Results
    return df

In [32]:
#tab_represas = list_represas(df_json)
#tab_represas

### Estruturas (Túneis e outros Pontos de Medição)

A função abaixo lista os túneis e estações de monitoramento do Sistema Cantareira e outras que estão integradas, de alguma maneira, ao Sistema, inserindo também o identificador de cada local (*ComponenteId*).

Apesar de trata-se de uma tabela que não retorna dados temporais (por exemplo: vazão, volume e chuva), ou seja, que variam ao longo do tempo, contudo é fundamental para rotular de qual estrutura que são os dados temporais que serão obtidos nas próximas funções, visto que eles se valem, majoritariamente, do campo *ComponenteId* ou *abreviatura*.

In [33]:
def list_estruturas(df_json):
    # JSON to dataframe
    lst = df_json.loc['ListaLocais']['ReturnObj']
    df = pd.json_normalize(lst)

    # Delete columns
    df = df.drop(['Maximo','Minimo',
                  'Data','Dia',
                  'Valor','Unidade'],
                 axis=1)


    # Transform columns to list and reorder list
    col = df.columns.to_list()
    col.insert(0, col.pop(col.index('ComponenteId')))

    # Reindex Columns
    df = df.reindex(columns=col)

    # Results
    return df

In [22]:
#tab_estruturas = list_estruturas(df_json)
#tab_estruturas

## Dados Diários

Nessa seção que serão obtidos diversos dados relevantes na operação do Sistema Cantareira, tais como:
- Vazão natural em cada reservatório;
- Vazão afluente em cada reservatório;
- Vazão defluente em cada reservatório;
- Nível e Volume de cada reservatório;
- Dados de Precipitação de cada reservatório.

Inicialmente, definiu-se uma função para renomear *strings*, visto que estas constarão nos cabeçalhos das tabelas a serem criadas. Aplicou-se a função na *tab_represas* (criada acima) apenas para observar quais serão os nomes que constarão no cabeçalho das tabelas.

In [23]:
def rename_field(x):
    return(x.replace('/', '-').
           replace(' (', '-').
           replace(')', '').
           replace('Cesp', 'CESP').
           replace('Represa ', '').
           replace(' ', '')
          )

In [24]:
#t = tab_represas
#t['Nome_Header'] = t['Nome'].apply(lambda x: rename_field(x))
#t

### Volume, QJusante e Chuva

Extraíndo os dados do json, por meio da chave *ListaDados* e subchave *Dados*, foi obtido os dados de volume, vazão defluente e precpitação de cada reservatório.

No arquivo json, as tabelas encontravam-se empilhadas (*flat table*), com uma coluna com o nome do reservatório. Portanto, foi necessário filtrar essas tabelas por reservatório, ajustar o cabeçalho inserindo o nome do reservatório em questão e, posteriromente, fazer um join das tabelas pelo campo *data*.

In [34]:
def list_volumes(df_json):
    # JSON to dataframe
    lst = df_json.loc['ListaDados']['ReturnObj']
    df = pd.json_normalize(lst, 'Dados')

    # Define pivot to create new tables
    fields = df['Nome']
    fields = sorted(list(set(fields)))

    # Transform columns to list and reorder list
    col = df.columns.to_list()
    col.insert(0, col.pop(col.index('Data')))

    # Reindex Columns
    df = df.reindex(columns=col)

    # Create a blank table
    df_full,start,end = get_data_tab()

    for i in fields:
        # Define Nomes e Nomes de Tabelas
        j = rename_field(i)
        tab_name = 'tab_dados' + '_' + j
        
        # Filtra e cria das tabelas por fields (represas)
        locals()[tab_name] = df[df['Nome'] == i]

        # Deleta colunas
        locals()[tab_name] = locals()[tab_name].drop(['FlagConsolidado',
                                                      'NAMaxMax','NAMinMin',
                                                      'QJusanteMax','QJusanteMin',
                                                      'NivelUltimoDia',
                                                      'SistemaId','ComponenteId',
                                                      'UltimoDia',
                                                      'VazaoJusantePrincipal','VazaoJusanteSecundaria',
                                                      'VolumeOperacionalUltimoDia','VolumePorcentagemUltimoDia',
                                                      'VolumeTotalUltimoDia','Nome'], axis=1)

        # Renomeia as colunas
        locals()[tab_name].columns = [x if x=='Data' else j+'_'+x for x in locals()[tab_name].columns]

        # Convert Data Column (object) to datatime colum
        locals()[tab_name]['Data'] = pd.to_datetime(locals()[tab_name]['Data'])

        # Merge all tables
        df_full = pd.merge(df_full,locals()[tab_name],on='Data',how='left')

    # Results
    df_full = df_full.set_index('Data')
    df_full.dropna(how='all', inplace=True)
    
    return df_full

In [35]:
#tab_volumes = list_volumes(df_json)
#display(tab_volumes)

### Vazão Afluente e Vazão Natural

Extraíndo os dados do json, por meio da chave *ListaDados* e subchave *Qnat*, foram obtido os dados de vazão afluente e vazão naturalde cada reservatório.

No arquivo json, as tabelas encontravam-se empilhadas (*flat table*), com uma coluna com o nome do reservatório. Portanto, foi necessário filtrar essas tabelas por reservatório, ajustar o cabeçalho inserindo o nome do reservatório em questão e, posteriromente, fazer um join das tabelas pelo campo *data*.

In [36]:
def list_vazao(df_json):
    # JSON to dataframe
    lst = df_json.loc['ListaDados']['ReturnObj']
    df = pd.json_normalize(lst, 'Qnat')

    # Merge Tables
    df = pd.merge(df, tab_represas, on='ComponenteId', how='outer')

    # Define pivot to create new tables
    fields = df['Nome']
    fields = sorted(list(set(fields)))
    
    # Transform columns to list and reorder list
    col = df.columns.to_list()
    col.insert(0, col.pop(col.index('Data')))

    # Reindex Columns
    df = df.reindex(columns=col)

    # Create a blank table
    df_full,start,end = get_data_tab()

    for i in fields:
        # Define Nomes e Nomes de Tabelas
        j = rename_field(i)
        tab_name = 'tab_vazaonatural'+'_'+j
        
        # Filtra e cria das tabelas por fields (represas)
        locals()[tab_name] = df[df['Nome'] == i]

        # Deleta colunas
        locals()[tab_name] = locals()[tab_name].drop(['ComponenteId','Nome',
                                                      'VazaoAfluenteMax','VazaoAfluenteMin',
                                                      'VazaoNaturalMax','VazaoNaturalMin'],axis=1)

        # Renomeia as colunas
        locals()[tab_name].columns = [x if x=='Data' else j+'_'+x for x in locals()[tab_name].columns]

        # Convert Data Column (object) to datatime colum
        locals()[tab_name]['Data'] = pd.to_datetime(locals()[tab_name]['Data'])

        # Merge all tables
        df_full = pd.merge(df_full,locals()[tab_name], on='Data', how='left')

    # Results
    df_full = df_full.set_index('Data')
    df_full.dropna(how='all', inplace=True)
    
    return df_full

In [37]:
#tab_vazao = list_vazao(df_json)
#display(tab_vazao)

### Sistema Equivalente

Extraíndo os dados do json, por meio da chave *ListaDados*, foram obtido os dados do Sistema Equivalente.

In [38]:
def list_SE(df_json):
    # JSON to dataframe
    lst = df_json.loc['ListaDados']['ReturnObj']
    df = pd.json_normalize(lst)

    # Delete columns
    df = df.drop(['Dados','Data','Qnat'], axis=1)

    # Transform columns to list and reorder list
    col = df.columns.to_list()

    # Functions to rename
    col = ['SE_'+x for x in col]
    col = [x.replace('SistemaEquivalente.', '').replace('SE_Data', 'Data') for x in col]

    # Rename Columns
    df.columns = col

    # Convert Data Column (object) to datatime colum
    df['Data'] = pd.to_datetime(df['Data'])

    # Results
    df = df.set_index('Data')
    df.dropna(how='all', inplace=True)
    
    return df

In [39]:
#tab_SE = list_SE(df_json)
#display(tab_SE)

### Vazão dos Túneis e outros Pontos de Medição

Extraíndo os dados do json, por meio da chave *ListaDadosLocais* e subchave *Dados*, foram obtido os dados de vazão dos túneis Q7, Q6 Q5 e outros.

No arquivo json, as tabelas encontravam-se empilhadas (*flat table*), com uma coluna com o nome da estrutura. Portanto, foi necessário filtrar essas tabelas por estrutura, adicionando ao cabeçalho seu repectivo nome e, posteriormente, fazer um join das tabelas pelo campo *data*.

In [40]:
def list_vazaoestruturas(df_json):
    # JSON to dataframe
    lst = df_json.loc['ListaDadosLocais']['ReturnObj']
    df = pd.json_normalize(lst, 'Dados')

    # Define pivot to create new tables
    fields = df['Abreviatura']
    fields = sorted(list(set(fields)))

    # Transform columns to list and reorder list
    col = df.columns.to_list()
    col.insert(0, col.pop(col.index('Data')))
    col.append(col.pop(col.index('Unidade')))

    # Reindex Columns
    df = df.reindex(columns=col)

    # Create a blank table
    df_full,start,end = get_data_tab()

    for i in fields:
        # Define Nomes e Nomes de Tabelas
        j = rename_field(i)
        tab_name = 'tab_dados' + '_' + j
        
        # Filtra e cria das tabelas por fields (represas)
        locals()[tab_name] = df[df['Abreviatura'] == i]

        # Deleta colunas
        locals()[tab_name] = locals()[tab_name].drop(['Maximo', 'Minimo', 'Dia', 'Abreviatura', 'ComponenteId', 'LocalMedicaoId', 'Nome', 'SistemaId'],axis=1)

        # Renomeia as colunas
        locals()[tab_name].columns = [x if x=='Data' else j+'_'+x for x in locals()[tab_name].columns]

        # Convert Data Column (object) to datatime colum
        locals()[tab_name]['Data'] = pd.to_datetime(locals()[tab_name]['Data'])

        # Merge all tables
        df_full = pd.merge(df_full,locals()[tab_name],on='Data',how='left')

    # Results
    df_full = df_full.set_index('Data')
    df_full.dropna(how='all', inplace=True)
    
    return df_full

In [41]:
#tab_vazaoestruturas = list_vazaoestruturas(df_json)
#display(tab_vazaoestruturas)

## Dados Horários

Referem-se a transposição da bacia do rio Paraíba do Sul para a bacia do rio Piracicaba, por meio da Estação Elevatória de Água Bruta (EEAB) Jaguari, que despeja água na represa Atibainha.

Tais dados não serão aqui considerados, visto que já se encontram discretizados em dado diário na tabela acima. Logo, **tal função não será aplicada**.

### Estrutura de Transposição

In [42]:
def list_EEAB(df_json):
    # JSON to dataframe
    lst = df_json.loc['ListaEspecial']['ReturnObj']
    df = pd.json_normalize(lst)
    
    # Results
    return df

In [34]:
#tab_vazaoEEAB_pontos = list_EEAB(df_json)
#tab_vazaoEEAB_pontos

### Vazão de Transposição

Dados horários, transferência

In [35]:
def list_vazao_EEAB(df_json):
    # JSON to dataframe
    lst = df_json.loc['ListaDadosEspecial']['ReturnObj']
    df = pd.json_normalize(lst, 'Dados')
    
    # Results
    return df

In [36]:
#tab_vazaoEEAB = list_vazao_EEAB(df_json)
#tab_vazaoEEAB

# Resultado: Série Histórica do Sistema Cantareira

Com todas as funções definidas, é possível aplicar tais funções sequencialmente, visando criar uma série histórica com todos os dados do Sistema Cantareira.

Sabendo que a API obtem os dados *até o primeiro dia do mês anterior*, criou-se uma função que monta uma lista de todos os meses e anos a partir de uma data *start*. Posterirmente define-se o dia seguinte ao último dia do mês, ou seja:
1. Último dia de um determinado mês [último dia].[mês].[ano];
2. Dia seguinte, ou seja, virada de mês, [último dia].[mês].[ano] + 1, que resultará, obrigatoriamente, em [primeiro dia do mês].[mês+1].[ano];

Com isso são obtidos do mês anterior e excluído o último dia já do mês subsquente. Como resultado, para cada iteração, teremos o conjunto de dados de um único mês, os quais serão apensados a cada iteração.

## Série Histórica e Datas

In [3]:
# Table with start date
#start='2020-1-1'
#end='2019-12-31'

start=datetime.date.today()
end=datetime.date.today()


df_day, filename_start, filename_end = get_data_tab(start, end)

NameError: name 'get_data_tab' is not defined

In [38]:
# Years's List
list_year = df_day.index.year
list_year = list(set(list_year))
list_year = sorted(list_year, reverse = True)

## *Loop*

In [39]:
# Zera os Objetos
tabs_volumes         = []
tabs_vazao           = []
tabs_SE              = []
tabs_vazaoestruturas = []

# Function to loop
for y in list_year:
    # Tempo
    print('Início do ano ' + str(y) + ' as ' + datetime.datetime.now().strftime('%H:%M:%S'))
    
    # Variáveis de Data
    firstdayyear   = datetime.date(y, 1, 1)
    lastdayyear    = datetime.date(y, 12, 31)
    today          = datetime.date.today()
    
    if today < lastdayyear:
        lastday = today
    elif today >= lastdayyear:
        lastday = lastdayyear
        
    # Site
    site = ('http://mananciais.sabesp.com.br/api/Mananciais/RepresasSistemasNivel/' + 
            str(firstdayyear).replace('.','-') + '/' + 
            str(lastday).replace('.','-') + '/0')
        
    # Functions
    jsn = get_json(site)
    time.sleep(30)
    df_json = json2table(jsn)
    startdate           = get_startdate(df_json)
    enddate             = get_enddate(df_json)
    tab_manobras        = get_manobras(df_json)
    tab_represas        = list_represas(df_json)
    
    # Dados
    tab_volumes         = list_volumes(df_json)
    tab_vazao           = list_vazao(df_json)
    tab_SE              = list_SE(df_json)
    tab_vazaoestruturas = list_vazaoestruturas(df_json)
    
    # Concat Data
    tabs_volumes.append(tab_volumes)
    tabs_vazao.append(tab_vazao)
    tabs_SE.append(tab_SE)
    tabs_vazaoestruturas.append(tab_vazaoestruturas)
    
# Time
print('Fim as ' + datetime.datetime.now().strftime('%H:%M:%S'))

Início do ano 2020 as 20:25:16
Fim as 20:26:17

## Conctatena e une tabelas

In [41]:
# Concat Data
tabs_volumes         = pd.concat(tabs_volumes)
tabs_vazao           = pd.concat(tabs_vazao)
tabs_SE              = pd.concat(tabs_SE)
tabs_vazaoestruturas = pd.concat(tabs_vazaoestruturas)

In [42]:
# One Table
tabs_volumes = pd.concat([tabs_volumes, tabs_vazao], axis=1)
tabs_volumes = pd.concat([tabs_volumes, tabs_SE], axis=1)
tabs_volumes = pd.concat([tabs_volumes, tabs_vazaoestruturas], axis=1)

# Merge
df_final = pd.merge(df_day, tabs_volumes, left_index=True, right_index=True, how='left')

In [43]:
df_final

,Atibainha_Chuva,Atibainha_Nivel,Atibainha_QJusante,Atibainha_Volume,Atibainha_VolumeMaximo,Atibainha_VolumeMinimo,Atibainha_VolumeOperacional,Atibainha_VolumePorcentagem,Atibainha_VolumeTotal,Cachoeira_Chuva,...,QPS-SC_Valor,QPS-SC_Unidade,QSC-PS_Valor,QSC-PS_Unidade,QT5_Valor,QT5_Unidade,QT6_Valor,QT6_Unidade,QT7_Valor,QT7_Unidade
Data,,,,,,,,,,,,,,,,,,,,,
2020-05-19,0.0,783.68,3.5,232.842505,295.456327,199.204147,33.638358,34.948152,232.842505,0.0,...,6.367,m3/s,0.0,m3/s,23.093,m3/s,16.477,m3/s,15.76,m3/s

## Export to CSV

In [50]:
# Export
df_final.dropna(how='all', inplace=True)

filename = 'tab_Cantareira_' + filename_start + '_até_' + filename_end + '.csv'
df_final.to_csv(os.path.join('data', filename),
                index=True,
                header=True,
                encoding='UTF-8-SIG',
                sep=';',
                decimal=',',
                date_format='%d/%m/%Y')